export CLICOLOR=1
export LSCOLORS="GxFxCxDxBxegedabagaced"
alias ls='ls --color=auto'
alias vim='nvim'
autoload -Uz compinit
compinit -u

export PATH="$HOME/.local/bin:$PATH"
export ZSH="$HOME/.oh-my-zsh"

plugins=(zsh-autosuggestions)
source $ZSH/oh-my-zsh.sh

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
function isWinDir {
  local p
  p="$(pwd -P)"
  [[ "$p" == /mnt/* ]]
}

function git {
  if isWinDir
  then 
    git.exe "$@"
  else
    /usr/bin/git "$@"
  fi
}

alias chezmoi="~/bin/chezmoi"
echo 'eval "$(~/.local/bin/mise activate zsh)"' >> ~/.zshrc

{{   end }}
{{ end }}


function ghq_fzf_cd() {
  local selected
  selected=$(ghq list -p 2>/dev/null | fzf \
    --query "$LBUFFER" \
    --prompt='ghq> ' \
    --height=60% --border \
    --cycle --exit-0 \
    --preview 'cd {} && (git status -sb 2>/dev/null || true); echo; ls -la' \
    --preview-window 'right,60%,border-left')

  [[ -z "$selected" ]] && { zle redisplay; return 0; }

  BUFFER="cd -- ${selected:q}"
  zle accept-line
}
zle -N ghq_fzf_cd
bindkey '^g' ghq_fzf_cd

source <(fzf --zsh)

eval "$(starship init zsh)"