export CLICOLOR=1
export LSCOLORS="GxFxCxDxBxegedabagaced"
alias ls='ls --color=auto'
autoload -Uz compinit
compinit -u

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
function isWinDir {
  local p
  p="$(pwd -P)"
  [[ "$p" == /mnt/* ]]
}

function git {
  if isWinDir
  then 
    git.exe "$@"
  else
    /usr/bin/git "$@"
  fi
}
{{   end }}
{{ end }}

eval "$(starship init zsh)"