[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = izumi
	email = rizumi222@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = vim
[ghq]
	root = ~/src
[alias]
  delete-merged-branch = "!f () { git branch --merged|egrep -v '\\*|develop|main'|xargs git branch -d; };f"

{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") }}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{ end }}