export CLICOLOR=1
export LSCOLORS="GxFxCxDxBxegedabagaced"
alias ls='ls --color=auto'
autoload -Uz compinit
compinit -u

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
function isWinDir {
  local p
  p="$(pwd -P)"
  [[ "$p" == /mnt/* ]]
}

function git {
  if isWinDir
  then 
    git.exe "$@"
  else
    /usr/bin/git "$@"
  fi
}

alias claude="~/.claude/local/claude"
alias chezmoi="~/bin/chezmoi"

{{   end }}
{{ end }}

eval "$(starship init zsh)"